
h3{
	margin-left: 1.75em;
	margin:1em;

}
.form-label {
	font-weight: 500;
}
.form-control,
select {
    display: block;
    width: 75%;
    padding: 5px;
	border-radius: 10px;
   
    box-sizing: border-box;
}
::ng-deep.mat-horizontal-stepper-header-container {
background-color:#1d3758;
color:white;
border-radius: 10px;
height: 60px;
margin-left:1.75em;
margin-right: 1.75em;
}
::ng-deep .mat-step-text-label
{
	color: white;
}
.container
{
   
    max-width: 100%;
	
   // margin: auto;
   // position: relative;
    /* background: rgb(67, 142, 239); */
   // text-align: left;
   // padding: 30px;
   
    /* background: #42C2FF */
   // box-shadow: 0px 1px 6px 1px #CCCCCC;
   // zoom: 85%;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: #BB0000 !important;
}
.form-container {
	width: 100vw;
	height: 100vh;
	background-color: #7b2cbf;
	display: flex;
   	justify-content: center;
	align-items: center;
}
.upload-files-container {
	background-color: #f7fff7;
	width: 420px;
	padding: 30px 60px;
	border-radius: 40px;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
	border: 2px dashed lightskyblue;
	border-radius: 5px;
	margin:1em;


	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
	cursor:pointer;
	color: lightskyblue;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: rgb(90, 203, 241);
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
#file-input{
	display: none;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #7b2cbf;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}

.upload-button {
	font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}
.mat-card
{
    width:100%
}
.mat-stepper-horizontal
{
	background-color:#e6eef5;
}
